body {
	display: grid;
	grid-template-areas: 
		"game settings"
		"game video"
		"game ."
}

body > div {
	margin: 20px;
}

#gameContainer {
	grid-area: game;
}

#videoContainer {
    grid-area: video;
}

#videoContainer > video, #videoContainer > canvas {
    /*transform: scale(0.5, 0.5);*/
    /*transform-origin: 0 0;*/

    position: absolute;
}

#settingsContainer {
	grid-area: settings;
}


.slider-container {
	display: grid;
	grid-template-areas: 
		"label"
		"input"
		"draggable";
	grid-gap: 10px;
	margin: 10px;
}

.checkbox-container {
	display: grid;
	grid-template-areas: 
		"label"
		"input";
	grid-gap: 10px;
	margin: 10px;
}

.settings-label {
	grid-area: label;
}

.settings-input {
	grid-area: input;
}

.settings-draggable {
	grid-area: draggable;
}
